html {
  box-sizing: border-box;
  /* font-size: 14px; */
}
*,
*::after,
*::before {
  box-sizing: inherit;
}
/* Стили для Nav-bar */
.nav {
  display: flex;
  justify-content: center;
  gap: 50px;
  padding: 25px 15px;
  margin: 0 auto;
  border-bottom: 1px solid;
  background-color: #8cf7e2;
  position: fixed;
  top: 0px;
  left: 0;
  right: 0;
  z-index: 1;
}
.nav a {
  text-decoration: none;
  background-color: #0666f7;
  padding: 5px 10px;
  border-radius: 5px;
  color: #fff;
  transition: background-color 0.3s;
}
.nav a:link {
  background-color: #07f1b3;
}
.nav a:hover {
  background-color: red;
}
.nav a:active {
  background-color: green;
}
section:target {
  background-color: rgb(103, 241, 103);
}
/* Меню секций переход по Странице */
.menu-pege {
  position: fixed;
  top: 90px;
  left: 10px;
  z-index: 2;
}
/* стили для заголовков */
.releative__block {
  position: relative;
}
.main-topic-title {
  text-align: center;
  background-color: #d0d2d2;
  padding: 10px;
  display: block;
  margin: 0 auto;
  border-radius: 5px;
  position: sticky;
  top: 80px;
}
.topic-title {
  background-color: #d0d2d2;
  padding: 10px;
  display: inline-block;
  border-radius: 5px;
}
/*  */
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
body {
  margin: 0;
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 400;
}
.container {
  max-width: 1400px;
  width: 100%;
  margin: 0 auto;
  padding: 0 25px;
}
section {
  /* background-color: #b9f6b8; */
  padding: 80px 0 50px;
}
.operator {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #e0dfdf;
}
.operator-bulean {
  padding-left: 20px;
  padding-right: 20px;
  background-color: #b5b3b3;
  font-style: toLowerCase;
}
/* псевдоэлементы и селекторы */
.proba > :last-child {
  display: block;
  background-color: red;
}
/* стилизация Ссылок*/
.icon-item {
  font-size: 24px;
  /* color: inherit; */
}
.link-icon {
  text-decoration: none;
  transition: all 0.5s;
  display: inline-block;
}
.link-icon:link {
  color: rgb(3, 89, 15);
}
.link-icon:visited {
  color: rgb(244, 122, 7);
}
.link-icon:hover {
  color: red;
}
.link-icon:active {
  color: rgb(126, 125, 125);
}

/* float */
.img-float {
  float: left;
  width: 300px;
  height: auto;
  margin-right: 20px;
}
.close-float {
  clear: both;
}
/* работа с формой и псевдоєлементами для ее стилизации Проба!*/
:focus {
  background-color: #ff0;
}
input::placeholder {
  color: purple;
  font-weight: 800;
  font-style: italic;
}
/* форматирокание Примеров кода */
pre {
  padding: 10px 20px;
  border: 1px solid #525252;
  border-radius: 8px;
  font-size: 15px;
  color: #f30a0a;
}
.Useful-links {
  text-align: center;
  background-color: #fff;
  border: 1px solid #000;
}
/* стиль для картинок на стр Git Terminal */
.Git-Basics img {
  display: block;
}
